*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 1.5rem;
}

label{
    width: 300px;
}

.Exercicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 8px;
}

.input{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 8px;
}

.geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}